@import "~nprogress/nprogress.css";
@import "_variables";
@import "_mixins";
@import "header";
@import "header-media";
@import "results";
@import "results-media";
body, html {
    margin: 0;
}
.search-main-page {
    background-color: #F9F9F9;
    overflow: hidden;
}
#nprogress .bar {
  background: $red !important;
}
