.heading {
  z-index: 2;
  position: fixed;
  height: 60px;
  width: 100%;
  background-color: $white;
  @media (max-width: $breakpoint-mobile) {
    background-color: $red;
  }
  .heading__container {
    display: flex;
    width: 50%;
    transform: translateX(50%);
    @media (max-width: $breakpoint-tablet) {
      @include tablet-width;
    }
    .heading__logo {
      @media (max-width: $breakpoint-mobile) {
        display: none;
      }
    }
    .heading__logo-container {
      width: 80px;
      height: 24px;
      -ms-flex: none;
      -webkit-flex: none;
      flex: none;
      margin: auto 0;
    }

    .heading__icon__container {
      display: none;
      @media (max-width: $breakpoint-mobile) {
        display: block;
        width: 100px;
        height: 60px;
      }
    }

    .heading__input-container {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      text-align: left;
      margin: auto 0;

      .heading__input {
        width: 80%;
        height: 36px;
        padding: 2px;
        font-size: 16px;
        margin: 10px 0;
        box-sizing: border-box;
        border: 1px solid #969696;
      }
      span.close {
        display: none;
        position: absolute;
        right: 75px;
        top: 50%;
        transform: translateY(-50%);
        i {
          color: #000;
          font-size: 20px;
        }
      }

      .heading__input__button--desktop {
        padding: 0 24px;
        background: #F9F9FB;
        height: 38px;
        margin: auto 0;
        border: 1px solid #969696;
        border-left: 0;
        i {
          color: grey;
        }

      }
    }

  }
}
