.heading {
  position: fixed;
  height: 60px;
  width: 100%;
  background-color: #fff;
  display: flex;

}
#logo-icon-container.yt-icon-container {
  width: 80px;
  height: 24px;
  -ms-flex: none;
  -webkit-flex: none;
  flex: none;
  margin: auto 0;
}
