@media (max-width: $breakpoint-mobile) {
  .heading {
    position: relative;
    background-color: $red;
    .heading__container {
      .heading__logo {
        display: none;
      }

      .heading__icon__container {
        display: block;
        width: 100px;
        height: 60px;
      }

      .heading__input-container {
        .heading__input {
          display: none;
        }
        .heading__input--show {
          display: block!important;
        }
        .heading__input__button--mobile {
          padding: 0 24px;
          height: 38px;
          margin: auto 0;
          background: transparent;
          border: 0;
          -webkit-appearance: none;
          outline: none;
          cursor: pointer;
          i {
            color: #fff;
          }
        }
        span.close {
          i {
            font-size: 15px;
          }
        }
      }

    }
  }
}
@media (max-width: $breakpoint-tablet) {
  .heading {
    .heading__container {
      @include tablet-width;
    }
  }
}