.results {
  margin-top: 70px;
  .results__header {
    display: flex;
    justify-content: space-between;
    transform: translateX(50%);
    width: 50%;
    margin-bottom: 19px;
    padding: 15px 0;
    border-bottom: 1px solid #ded9d9;
    @media (max-width: $breakpoint-tablet) {
      @include tablet-width;
    }
  }
  .results__group {
    transform: translateX(50%);
    width: 50%;
    @media (max-width: $breakpoint-tablet) {
      @include tablet-width;
    }
    .result {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
      .result__img {
        height: 180px;
        min-width: 320px;
        position: relative;
        p {
          display: block;
          position: absolute;
          bottom: 4px;
          right: 4px;
          background: #161616;
          color: white;
          margin: 0;
          width: auto;
          padding: 0 10px;
        }
      }
      .result__info {
        //width: 25%;
        margin-left: 8px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        .result__info__title {
          text-align: left;
          color: #000;
          font-size: 18px;
          font-weight: 500;
          margin-bottom: 0;
        }
        .result__info__description {
          display: initial;
          color: grey;
          text-align: left;
          font-weight: 200;
        }
        .result__info__subtitle {
          display: flex;
          font-size: 13px;
          margin-top: 2px;
          color: grey;
          .align-content {
            margin: 0;
          }
        }
      }
    }
  }

}
.dot-separator {
  display: initial;
  margin: 0 4px;
}