@media (max-width: $breakpoint-tablet) {
  .results {
    .results__header {
      @include tablet-width;
    }

    .results__group {
        @include tablet-width;
    }
  }
  .dot-separator {
    margin: 0 4px;
  }
}
@media (max-width: $breakpoint-small) {
  .results {
    margin-top: 5px;
    .results__group {
      .result {
        .result__img {
          min-width: 170px;
          height: 130px;
          .result__image--channel {
            width: 130px;
            height: 130px;
          }
          .result__image--video {
            width: 100%;
            height: 100%;
          }
          .result__image--playlist {
            width: 100%;
            height: 100%;
          }
        }
        .result__info {
          .result__info__title {
            font-size: 13px;
          }
          .result__info__description {
            display: none;
          }
          .result__info__subtitle {
            font-size: 10px;
            flex-direction: column;
            text-align: left;
          }
        }
      }

    }
  }

}
@media (max-width: $breakpoint-mobile) and (min-width: $breakpoint-small) {
  .results {
    margin-top: 5px;
    .results__group {
      .result {
        .result__img {
          min-width: 265px;
          .result__image--video {
            width: 100%;
            height: 100%;
          }
          .result__image--playlist {
            width: 100%;
            height: 100%;
          }
        }
        .result__info {
          .result__info__title {
            font-size: 17px;
          }
          .result__info__description {
            display: none;
          }
          .result__info__subtitle {
            flex-direction: column;
            text-align: left;
          }
        }
      }

    }
  }
}
