.button {
  padding: 0 24px;
  background: #F9F9FB;
  height: 36px;
  margin: auto 0;
  border: 1px solid #969696;
  border-left: 0;

  i {
    color: grey;
  }

}
.button-mobile {
  padding: 0 24px;
  height: 38px;
  margin: auto 0;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;

  i {
    color: #fff;
  }
}
